.navbar{
    background-color: transparent !important;
}
.navbar-nav li{
    padding: 8px;
/*    padding-right: 20px;*/
}
.nav-link{
    font-size: 1.1em !important;
}
.nav-item{
    margin-left: 20px;
}
.nav-item:hover{
    background: #e91e63;
/*    padding: 5px auto;*/
/*    border-radius: 6px;*/
}